<div class="topnavbar-wrapper">
  <%= image_tag 'top-background.png', class: "demo-bg" %>
  <div class="top-row">
    <div class="main-logo">
    </div>
    <div class="header-action">
    </div>
  </div>

  <div class="top-content">
    <div class="top-main-title">
      <span>Good Food, Great Vibes</span>
    </div>

    <div class="top-sub-title">
      <span>Experience the Best of Vietnam, Right on Your Plate</span>
    </div>

    <div class="double-quotes">
    </div>

    <div class="book-table-btn">
      <span>Book a table</span>
    </div>
  </div>
</div>
