/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.topnavbar-wrapper {
  height: 800px;
  overflow: hidden;
  background-color: black;
}

.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.top-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  color: #FFFFFF;
}

#logo {
  width: 30px;
  height: 30px;
}

.top-main-title {
  font-size: 3rem;
}

.top-sub-title {
  font-size: 0.8rem;
}


.book-table-btn {
  border: 1px solid #efb722!important;
  border-radius: 1rem;
  padding: 0rem 0.8rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.book-table-btn:hover {
  background-color: #efb722;
  color: darkblue;
}

.header-action {
  padding-left:  50%;
  padding-right: 5%;
  position: fixed;
}

.action {
  margin-left: auto;
}

.action > a {
  text-decoration: none;
  color: #FFFFFF;
}

.action > a:hover {
  color: #efb722;
}

.order-now {
  border: 1px solid #efb722!important;
  border-radius: 1rem;
  padding: 0rem 0.8rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.main-content {
  background-color: #efb722;
  height: 1000px;
}
