/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.topnavbar-wrapper {
  height: 800px;
  overflow: hidden;
  background-image: url('c.jpg');
}

.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.top-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  color: #FFFFFF;
  margin-top: 6rem !important;
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.top-main-title {
  font-size: 4rem;
}

.top-sub-title {
  font-size: 1rem;
}

.double-quotes {
  color: #efb722;
  font-size: 1.5rem;
}

.book-table-btn {
  border: 1px solid #efb722 !important;
  border-radius: 1rem;
  padding: 0rem 0.8rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.book-table-btn:hover {
  background-color: #efb722;
  color: darkblue;
}

.header {
  padding-top: 2%;
}

.main-logo {
  padding-left: 10%;
}

.action {
  margin-left: auto;
  font-size: 1.1rem;
}

.action>a {
  text-decoration: none;
  color: #FFFFFF;
}

.action>a:hover {
  color: #efb722;
}

.order-now {
  border: 1px solid #efb722 !important;
  border-radius: 1rem;
  padding: 0rem 0.8rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.main-content {
  background-image: url('t.jpg');
}


.story-container {
  height: 450px;
  border-color: #FFFFFF;
  display: inline-table;
  margin-top: 10%;
  margin-left: 15%;
}

.story-content {
  margin-left: 5%;
  margin-top: 12%;
}

.story-main-title {
  text-transform: capitalize;
  color: #efb722;
  font-size: 3rem;
}

.story-subtitle {
  font-size: 1.2rem;
}

.left-image>img {
  width: 100%;
  height: 100%;
}

.left-image {
  padding: 10px;
}

.right-image {
  padding: 10px 10px 10px 0;
}

.right-top,
.right-bottom {
  height: 50%;
}

.right-top {
  padding-bottom: 10px;
}

.right-top>img {
  width: 100%;
  height: 100%;
}

.right-bottom>img {
  width: 100%;
  height: 100%;
}

.fotm-image>img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.fotm-item {
  position: relative;
  border-radius: 15px;
  height: 400px;
  width: 360px;
}

.star {
  width: 100px;
  border: 1px solid #efb722;
  position: absolute;
  bottom: 100%;
  height: 30px;
  margin-left: 37%;
  border-radius: 15px 15px 0 0;
  border-bottom: none;
}

.star>i {
  color: #efb722;
  font-size: 10px;
  margin: 0.15rem;
}

.fotm-info {
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
}

.fotm-name {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  height: 40% !important;
}

.underline {
  width: 100px;
  border-bottom: 3px solid #efb722;
}

.fotm-description {
  font-size: 0.8rem;
  height: 40% !important;
}

.fotm-order {
  height: 20% !important;
}

.fotm-price {
  font-weight: 700;
  font-size: 1rem;
}

.order-btn {
  background-color: #efb722;
  height: 70%;
  border-radius: 15px;
}

.order-btn>a {
  text-decoration: none;
  color: #FFFFFF;
}


.recommend-image>img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

.recommend-item {
  position: relative;
  border-radius: 15px;
  height: 300px;
  width: 180px;
}

.recommend-info {
  background-color: #3d3b3b;
  border-radius: 0 0 15px 15px;
  color: #FFFFFF;
  height: 40%;
}

.recommend-name {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  margin-top: 10%;
}

.recommend-description {
  font-size: 0.7rem;
  height: 40% !important;
}

.recommend-order {
  height: 20% !important;
}

.recommend-price {
  font-weight: 700;
  font-size: 1rem;
}

.recommend-rate>i {
  font-size: 0.6rem;
  color: #efb722;
}

.recommend-top {
  height: 400px;
}

.saying-about-us {
  background-image: url(c.jpg);
  width: 100%;
  height: 100%;
  padding-bottom: 7rem;
}

.people-avatar {
  width: 100px;
  height: 100px;
}

.people-avatar>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.people-info {
  width: 60%;
}

.saying-title {
  font-size: 3rem;
}

#pp-position {
  color: #999595;
}

.check {
  width: 20px;
  height: 20px;
  border: 1px solid #efb722;
  border-radius: 50%;
}

.check>i {
  height: 100%;
  width: 100%;
  color: #efb722;
}

.wc-background {
  height: 400px;
  width: 100%;
  background-image: url(b.jpg);
}

.wc-item-content {
  margin-left: 1%;
}

.why-choose-item {
  background-color: #252222;
  padding-bottom: 5rem;
}

.item-1,
.item-2,
.item-3 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.blank-area {
  background-color: #302e2d;
  height: 80px;
}

#footer {
  background-color: #252222;
}

.thanks {
  margin-right: 7rem !important;
}

.introduction {
  margin-right: 7rem !important;
  margin-left: 7rem !important;
  width: 35% !important;
  border-right: #efb722 3px solid;
}

.facebook {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #efb722;
}

.email {
  height: 30px;
  width: 100%;
}

.enter-email {
  border: #efb722 1px solid;
  border-radius: 15px 0 0 15px;
}

.subcribe {
  background-color: #efb722;
  height: 100%;
  width: 100px;
  border-radius: 0 15px 15px 0;
}

.quick-link {
  border-right: #efb722 3px solid;
  width: 13%;
}

.contact-number {
  margin-left: 7rem !important;
  width: 35% !important;
}